@font-face {
    font-family: Karla;
    src: url(../fonts/Karla-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Karla;
}

/* ------
HEADER
--------- */

/* Die Klasse .topNav bezieht sich auf den ganzen Header. Klasse wird für js gebraucht. */
.topNav {
    padding: 4vh 6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

h1 {
    color: black;
    text-transform: uppercase;
}

.topNav nav {
    text-align: right;
}

.topNav nav a {
    text-decoration: none;
    color: black;
    margin-left: 2vw;
}

/* Icon was für das responsive Burger Menü auf dem Handy verwendet wird */
.topNav .icon {
    display: none;
}

/* ------
MAIN
--------- */

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 6vw;
    gap: 2vw;
}

/* Für das dreispaltige Design */
main article { 
    display: grid;
    grid-template-columns: 75% 25%;
    margin: 4vh 0;
}

/* Für alle Fotos, die über die gesamte Breite gehen */
.articleLarge { 
    grid-column: 1/4;
}

main article a {
    grid-column: 1/3;
    background-color: #f7f7f7;
    margin-bottom: 1vh;
}

main article a img {
    width: 100%;
    height: 100%;
}

main article a img:hover {
    opacity: 0.5;
}

h2 {
    font-size: 0.9rem;
}

h3 {
    font-size: 0.8rem;
    color: gray;
    grid-column: 1/1;
    line-height: 1.5rem;
}

main article p {
    grid-area: 2 / 2 / 4 / 3;
    text-align: right;
}

/* ------
FOOTER
--------- */

footer {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    margin: 0 20vw 0 6vw;
    gap: 4vh 6vw;
    font-size: 0.8rem;
}

footer article p {
    line-height: 1.3rem;

}

footer article p:first-of-type {
    font-size: 1rem;    
    margin: 6vh 0 3vh 0;
}

footer article p span {
    font-variation-settings: "wght" 800;
}

footer article a {
    display: block;
    text-decoration: none;
    color: black;
    font-variation-settings: "wght" 800;
    line-height: 1.3rem;
}

footer article a:nth-of-type(1) {
    display: inline;
}

.copyright {
    color: gray;
    grid-column: 1/5;
    margin-bottom: 5vh;
}

@media screen and (max-width: 425px) {

    /* ------
    HEADER
    --------- */

    /* default styles für den header, wenn die Navigation noch nicht ausgeklappt wurde */
    .topNav {
        grid-template-columns: 90% 10%;
        gap: 1vh 0;
    }
    
    .topNav nav {
        display: none;
    }

    .topNav .icon {
        display: flex;
        justify-content: flex-end;
    }

    /* Wenn jemand auf das Menü Icon klickt, wird durch js die Klasse .responsive aktiviert und stylet die Navigation wie folgt */
    .topNav.responsive nav {
        display: block;
        grid-column: 1/3;
        border-top: 0.5px solid #eeeeee;
        border-bottom: 0.5px solid #eeeeee;
        padding: 2vh 0;
    }

    h1 {
        font-size: 1.2rem;
        text-align: left;
    }
    
    .topNav a {
        line-height: 1.5rem;
        font-size: 0.9rem;
        display: block;
    }

    .topNav a img {
        width: 25px;
        height: 25px;
    }

    /* ------
    MAIN
    --------- */

    main { 
        display: block;
    }

    /* ------
    FOOTER
    --------- */

    footer {
        display: block;
        margin-top: 10vh;
    }

    footer article p:first-of-type {
        margin-top: 3vh
    }

    footer article a {
        font-variation-settings: "wght" 700;
    }

    .copyright {
        margin-top: 5vh;
    }
}





